n8n/brevo-email-tracking.json
{
  "name": "GestiOS - Brevo Email Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brevo-email-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "brevo-email-events"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GESTIOS_URL }}/api/webhooks/brevo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BREVO_WEBHOOK_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "events",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Send to GestiOS API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"processed\": 1}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-events",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter",
      "name": "Filter Valid Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [350, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Filter Valid Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Events": {
      "main": [
        [
          {
            "node": "Send to GestiOS API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to GestiOS API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "gestios",
      "color": "blue"
    },
    {
      "name": "email",
      "color": "green"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-11T18:41:00.000Z",
  "versionId": "1"
}
