n8n/brevo-email-tracking-polling.json
{
  "name": "GestiOS - Brevo Email Tracking (Polling)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.brevo.com/v3/smtp/statistics/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "days",
              "value": "1"
            },
            {
              "name": "sort",
              "value": "desc"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-brevo",
      "name": "Fetch Brevo Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter events from last 5 minutes and deduplicate\nconst fiveMinutesAgo = Date.now() - (5 * 60 * 1000);\nconst processedIds = $getWorkflowStaticData(\"global\").processedIds || [];\n\nconst events = $input.all();\nconst newEvents = [];\n\nfor (const item of events) {\n  const eventId = item.json.messageId || item.json.id;\n  if (!eventId) continue;\n  \n  // Skip if already processed\n  if (processedIds.includes(eventId)) continue;\n  \n  // Check if event is from last 5 minutes\n  const eventTime = item.json.date ? new Date(item.json.date).getTime() : 0;\n  if (eventTime > 0 && eventTime < fiveMinutesAgo) continue;\n  \n  // Mark as processed\n  processedIds.push(eventId);\n  \n  // Format for GestiOS API\n  newEvents.push({\n    json: {\n      event: item.json.event,\n      email: item.json.email,\n      messageId: eventId,\n      time: item.json.date,\n      reason: item.json.reason || null,\n      tag: item.json.tag || null\n    }\n  });\n}\n\n// Keep only last 1000 processed IDs\nif (processedIds.length > 1000) {\n  processedIds.splice(0, processedIds.length - 1000);\n}\n$getWorkflowStaticData(\"global\").processedIds = processedIds;\n\nif (newEvents.length === 0) return [];\n\nreturn newEvents;"
      },
      "id": "filter-new",
      "name": "Filter New Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GESTIOS_URL }}/api/webhooks/brevo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-brevo-webhook-key",
              "value": "={{ $env.BREVO_WEBHOOK_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"events\": $input.all().map(item => item.json)\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-gestios",
      "name": "Send to GestiOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [570, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Brevo Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brevo Events": {
      "main": [
        [
          {
            "node": "Filter New Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Events": {
      "main": [
        [
          {
            "node": "Send to GestiOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": {
    "global": {
      "processedIds": []
    }
  },
  "tags": [
    {
      "name": "gestios",
      "color": "blue"
    },
    {
      "name": "email",
      "color": "green"
    },
    {
      "name": "brevo",
      "color": "purple"
    },
    {
      "name": "polling",
      "color": "orange"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-13T15:00:00.000Z",
  "versionId": "2"
}
